<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Сайт</title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="BC">

   	 

	<section id="w">




<header>
<img src="img1/log.png"  alt="S" class="log" >

<input type="button" class="b1" value="HOME"></p>
<div class ="ti">
		
               
						<a href="#">SERVICE</a>
					
						<a href="#">ABOUTUS</a>
					
						<a href="#">PRICINGTABLE</a>
					
						<a href="#">HOWITWORK</a>
					
						<a href="#">HAPPYCLIETNS</a>
				
						<a href="#">CONTACTUS</a>
						
	
		<div class="container">
			<div class="heading clearfix">
		
				<div class="titles">
					<div class ="titles1">
					<h1>BOOST UP YOUR LOCAL BUSINESS</h1>
				</div>
			<div class = "titles2">
					Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum typesetting
				</div>
				
			<div class="text-input">


  <input type="text" id="input1" placeholder="Full name">
  <input type="text" id="input2" placeholder="Email Address" class="inp">
<input type="text" id="input2" placeholder="Phone Number" class="inp2">
<input type="button" class="b2" value="REQUEST A QUOTE"></p>

			
				
	
			</div>	

			
		</div>


		</div>

	</header>


<div>


	<section id="orange">
			<img src="img1/ss.png" alt="S" class="ss">

		</div>

			<div class="title1">
				<h1>
					ABOUT US
				</h1>
				<p>
					Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's standard dummy text ever since the 1500s. when an unknow printer took a galley of type and scrambled it to make a type specmen book.It has survived not only five centures,but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the ore recently with desktop publishing software like Abus PageMaker including versions of Lorem Ipsum
				</p>
				<input type="button" class="b3" value="READ MORE"></p>
			
		</div>


		<section id="white">
		</div>


			<div class="title2">
				<h1>
					NEWSLETTER
				</h1>
				<p>
					Lorem ipsum is simply dummy Business industry
				</p>
				<div class="o">
				<input type="text" id="input1" placeholder="Full name">
  <input type="text" id="input2" placeholder="Email Address" class="inp">
  <input type="button" class="b9" value="SUBSCRIBE NOW"></p>
  <img src="img1/pl.png" alt="pl" class="pl">



			<div class="title55">
				<p>
		HOME SERVICE   ABOUTUS   PRICINGTABLE   HOWITWORK   HAPPYCLIENTS  CONTACTUS
				</p>
				 <img src="img1/Phone.png" alt="ph" class="ph"> +7987 9976 99
				</div>
				 <img src="img1/q.png" alt="v" class="v">
				</div>

				 

		




				</section>


			</div>

</div>


</body>
</html>