body {

	  font-family: OpenSans;
    padding: 0;
    margin: 0 auto;
    zoom: 70%;
}
.clearfix:after{
content:'';
display:table;
width: 100%:}
.BC{
	height: 2000px;
	width: 2000px;
	padding: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;

}



div{
	box-sizing: border-box;
}

header {
	
	background: url(../img1/f.png) no-repeat center top / cover;
	height: 1100px;
display: flex;
	justify-content: center;
	


}
.container {

margin: 0 auto;


}

.log{
	margin-left: -50px;
	height:70px;
 margin-top: 50px;

	


}
.orange{
	 

}
nav{
float: right;


}
.menu{
	padding: 0;
	display: block;
	height: 5vh;
	margin-left: 250px;
		text-transform: none;

}
.menu li{
	margin-top: 50px;
	float: left;
display: block;
margin-right: 90px;
height: 15vh;

	

}
.menu li a{
	color: #868686;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 55px;
	margin-left: 10px;


	
}
.b1 {
	margin-left: 150px;
    background:#ffbb42 ; 
    color: white; 
    font-size: 17px; 
    margin-top:75px;
	width:100px;
	height: 30px
	

   }
.titles1{
	font-size: 25px;
	color:white;
	margin-left: -200px;
	margin-top: 200px;
	text-align: center;
	   text-transform: inherit
	
	


	

}
.titles2 {
	font-size: 18px;
	color:white;
	text-transform: uppercase;
	text-align: center;
	margin-left: -200px;
margin-top: -20px;
text-transform: inherit






}

.text-input{
position: center;
margin-top: 50px;
margin-left:-200px;
justify-content:center;
	
	display: flex;
	

}

input[type="text"]{
display: inline-block;
width: 290px;
height: 48px;
box-sizing: border-box;
outline: none;
border: 1px solid lightgray;
border-radius: 3px;
padding: 10px 10px 10px 100px;
transition: all 0.1s ease-out;
}

input[type="text"] + label{
position: absolute;
top: 0;
left: 0;
bottom: 0;
height: 40px;
line-height: 40px;
color: white;
border-radius: 3px 0 0 3px;
padding: 0 20px;
background: #fa8072;
transform: translateZ(0) translateX(0);
transition: all 0.3s ease-in;
transition-delay: 0.2s;
	display: flex;

}

input[type="text"]:focus + label{
transform: translateY(-120%) translateX(0%);
border-radius: 3px;
transition: all 0.1s ease-out;
}

input {
    background-image: url(../img1/chel.png);   
    background-repeat: no-repeat; 
    background-position: 4px;
   
}
.inp{
    background-image: url(../img1/pismo.png);   
    background-repeat: no-repeat;   
    background-position: 4px; 
}
.inp2{
    background-image: url(../img1/phone.png);   
    background-repeat: no-repeat; 
    background-position: 4px; 
}
.b2 {
    background:#ffbb42 ; 
    color: white; 
    font-size: 17px; 
   
    width: 290px;
height: 48px;
   }
.titles3 {
	font-size: 18px;
	color:black;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
	margin-top: 108px;


}
.titles4 {
	font-size: 18px;
	color:black;
	text-transform: uppercase;
	text-align: center;
	margin-top: -10px;
	text-transform: inherit



}
.services{



}
.services_item {
	margin-top: 65px;
	width: 210px;
	float: left;
	text-align: center;


}
.services_item h1{
	font-size:18px;
	margin-bottom: 5px;

}
.services_item p{
	font-size:14px;
	color: #7b7b7b;

}
#orange {
	margin-top: 70px;
	 background: url(../img1/orange.png) no-repeat center top / cover;
	 
	 padding-bottom: 863px;
}
.ss{
	float: left;
}
.title1{
	font-size: 26px;
	color: white;
	float: right;
	margin-top:-800px;
margin-left: 1100px;
	text-transform: uppercase;
	text-align: left;
	margin-right: 400px;
	text-transform: inherit
	
}
.b3 {
    background:#ffbb42 ; 
     color: white; 
    font-size: 26px; 
    width: 300px;
height: 100px;

   }
   #white{
   	margin-top: 20px;
   	background: white;
   	 padding-bottom: 1280px;
   	 margin-top: -149px;
   
   }
   .title2 {
   	margin-top: 150px;
	   font-size: 18px;
	   color: black;
	   text-align: center;
	   text-transform: inherit
	   margin-bottom:0 auto;
   }
	#oi1{
		margin-top: 40px;
	}
	.b9 {
		margin-top: 40px;
    background:#ffbb42 ; 
     color: white; 
    font-size: 26px; 
    width: 300px;
height: 50px;
}
.pl{
	margin-top: 50px;

}
.title4{
	font
}
.title55{
	  	margin-top: 200px;
	   font-size: 18px;
	   color: black;
	   text-align: center;
	   text-transform: inherit
	   margin-bottom:0 auto;
	   text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 55px;
	margin-left: 10px;
 word-spacing: 32px;

}
.ph{
	margin-top: 30px;

}
.v{
	margin-top: 20px;
	width: 2000px;

  

}
.o1{
	    background-image: url(../img1/chel.png);   
    background-repeat: no-repeat; 
    background-position: 4px;

}
.o2{
	    background-image: url(../img1/pismo.png);   
    background-repeat: no-repeat; 
    background-position: 4px;
}
#w1{
	margin-top: 20px;
   	background: blue;
   	 padding-bottom: 100px;
   	 
}

}
.titles{
	display: flex;
	justify-content: center;
	text-align: center;
	   text-transform: inherit
	
	
}
.ti{
		text-transform: inherit;


	margin-top: 80px;
margin-right:100px;
margin-left:50px;

}
.ti a {
	margin-left:60px;
	color: #868686;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 55px;
	margin-left: 50px;
	


}